* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #c99e71;
    --dark: #1c1814;
    --bg: #14110e;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.bg {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.button {
    color: white;
    background-color: var(--accent);
    padding: 24px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: none;
}

.button:hover {
    background-color: #ab8358;
}

.subtitle {
    color: var(--accent);
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Header */

.header {
    background-color: var(--dark);
}
.header__wrapper {
    margin: 0 auto;
    width: 1420px;
    padding-top: 33px;
    padding-bottom: 32px;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__list-item {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-right: 48px;
    font-weight: 400;
}

.header__list-item:last-child {
    margin-right: 0;
}

.header__item-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in;
}

.header__item-link:hover {
    color: var(--accent);
}

/* Home */

.home {
    padding-top: 147px;
    padding-bottom: 166px;
}
.home__wrapper {
    position: relative;
}

.home__title {
    color: #fff;
    font-family: Righteous;
    font-size: 72px;
    font-weight: 400;
}
.home__text {
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.home__play {
    position: absolute;
    bottom: -17px;
    right: 0;
}

/* Process */

.process {
    background-color: var(--bg);
    padding-top: 140px;
    padding-bottom: 140px;
}

.process__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process__card {
    margin-right: 36px;
}

.process__card:last-child {
    margin-right: 0;
}

.process__title {
    color: #fff;
    font-family: Righteous;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.process__title-num {
    color: var(--accent);
}

.process__img {
    width: 366px;
    height: 420px;
}

/* History */

.history {
    background-color: var(--bg);
    padding-bottom: 140px;
}

.history__wrapper {
    display: flex;
}

.history__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
    margin-right: 32px;
}

.history__img-sm {
    grid-row-end: span 1;
}
.history__img-lg {
    grid-row-end: span 2;
}

.history__info {
    background-color: var(--dark);
    padding: 120px 56px 147px 56px;
}

.history__title {
    color: #fff;
    font-family: Righteous;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    margin-bottom: 36px;
}

.history__text {
    color: #fff;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
}

/* Product */

.product {
    background-color: var(--bg);
    padding-bottom: 140px;
}

.product__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__cards {
    display: flex;
    margin-bottom: 56px;
}

.product__title {
    font-weight: 400;
    color: #fff;
    font-family: Righteous;
    font-size: 48px;
    margin-bottom: 56px;
}

.product__card {
    background-color: #121315;
    margin-right: 36px;
    padding: 48px 48px 36px 48px;
}

.product__card:last-child {
    margin-right: 0;
}

.product__card-title-cart {
    color: #fff;
    font-family: Righteous;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 38px;
}

.product__card-btn {
    color: white;
    background-color: var(--accent);
    padding: 13px 20px 13px 56px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: none;
    position: relative;
}

.product__card-btn:hover {
    background-color: #ab8358;
}

.product__card-btn:before {
    position: absolute;
    content: '';
    top: 10px;
    left: 20px;
    width: 24px;
    height: 24px;
    background-image: url('./images/bag.svg');
    background-size: cover;
}

.product__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__card-rate {
    display: flex;
    align-items: center;
    margin-top: 37px;
}

.product__card-subtitle {
    color: var(--accent);
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin-right: 129px;
}

.star {
    width: 20px;
    height: 20px;
    background-size: cover; /* Размеры картинок */
    position: absolute;
    bottom: 0; /* Положение по вертикали */
}

.rate-star1 {
    background-image: url('images/star2.png');

    left: 65px;
}
.rate-star2 {
    background-image: url('images/star2.png');
    left: 85px;
}
.rate-star3 {
    background-image: url('images/star2.png');
    left: 105px;
}
.rate-star4 {
    background-image: url('images/star2.png');
    left: 125px;
}
.rate-star5 {
    background-image: url('images/star1.png');
    left: 145px;
}

.product__card-title {
    color: #fff;
    font-family: Righteous;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__card-price {
    color: #fff;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
}

.product__card-price-ac {
    color: var(--accent);
}
